*{padding: 0; margin: 0; box-sizing: border-box;}
body{
    overflow-x: hidden;
}
.carousel-item img{
    width: 100%;
    height: 85vh;
}
h2{
    color:cornflowerblue;
    font-family: Copperplate, Papyrus, fantasy;
}

p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h5{
    font-family: Copperplate, Papyrus, fantasy;
}

.card-body img{
min-width: 50%;
max-height: 240px;
}

.fimg{
    width: 95%;
    height: 100%;
}
.carousel{
    padding-top: 70px;
}